.rmHeadline {
	font-size: 18px;
	color: #777;
	float: left;
	padding-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.generalParametersStyle {
    font-weight: bold;
    color: #003168
}

.generalParametersStyleDisabled {
    font-weight: bold;
    color: #AAAAAA
}

.paddingLeftAndRight {
	padding-left: 10px;
	padding-right: 10px;
}

.brand-logo{
	padding-left: 6px;
	padding-right: 6px;
	top: 0px!important;
}

.pa-shortcuts > div {
	position:static!important;
	display: -webkit-inline-flex!important;;
	display: -ms-inline-flexbox!important;;
	display: -moz-flex!important;;
	display: inline-flex!important;
}

.pa-shortcuts > div > div {
	overflow-x: hidden;
	transition: width 300ms;
	transition-timing-function: ease;
	-webkit-transition: width 300ms;
	-webkit-transition-timing-function: ease;
	margin-left: 4px!important;
	position: static!important;
}

.pa-shortcuts > .active {
	background-color: #f76800;
	color: white;
}

.pa-shortcuts {
	padding-left: 0px!important;
	padding-right: 0px!important;
	transition: width 500ms;
	transition-timing-function: ease;
	-webkit-transition: width 500ms;
	-webkit-transition-timing-function: ease;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: -moz-flex;
	display: inline-flex;
	float: right;
	width: auto!important;
}

.toolStripButton, .toolStripButtonOver, .toolStripButtonFocused, .toolStripButtonFocusedOver, .toolStripButtonDown, .toolStripButtonFocusedDown, .toolStripButtonSelected, .toolStripButtonSelectedFocused, .toolStripButtonSelectedDown, .toolStripButtonSelectedFocusedDown, .toolStripButtonSelectedOver, .toolStripButtonSelectedFocusedOver, .toolStripButtonDisabled, .toolStripButtonSelectedDisabled {
    color: #777 !important;
    font-size: 14px !important;
	padding: 3px 5px !important;
}

.error-message {
    color: red !important;
}

.gwt-FileUpload {
                font-size : 11px;
                margin-left : 60px;
}